*.aux
*.log
*.out
*.synctex.gz
*.toc
*.ipynb_checkpoints
*.pyc
*__pycache__
*.DS_Store
*.h5
*.mat
.idea/
build/
pypiv.egg-info/
docs/builddir/
docs/_build/
pykitPIV.egg-info/
jupyter-notebooks/*.png
jupyter-notebooks/*.gif
jupyter-notebooks/*.h5