sphinx
sphinxcontrib-bibtex
furo
numpy
matplotlib
h5py
pandas
scipy
cmcrameri
urllib3
termcolor
scikit-learn
torch==2.2.2
torchvision==0.17.2
tensorflow==2.16.2
keras==3.8.0
gymnasium
tqdm
onnxruntime
.